/*Background*/
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #003080, #0047b3, #3366ff);
    color: white;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

/* BACKGROUND PAXADI KO IMAGE */
.background-center {
    position: fixed; 
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    z-index: 0;
    max-width: 400px; 
    width: 50vw; 
    opacity: 0.8; 
}

/* Nav bar  */
.topbar {   
    margin: 0 auto;          
    padding: 12px 60px;   
    background: rgba(255, 255, 255, 0.85); 
    opacity: 1;
    color: #111;            
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

/* Nav ma vako links*/
.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color:  #1a1a1a;             
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

/*links ma hover garda change hune color */
.nav-links a:hover {
  color: #666666;
}


/* Main Content */
.content {
    max-width: 700px;
    margin: 80px auto 50px auto; 
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 2; 
}


/* Profile wala button */
.topbar-right {
    color: rgb(0, 0, 0);
}

.profile {
    cursor: pointer;
}

.content img.background-small {
    display: block;
    margin: 0 auto 30px auto;
    width: 150px;  
    height: auto;
}

/* logo ko size and stuff*/
.topbar-left img {
    height: 42px;
    margin-right: 10px;
    border-radius: 70%;  
    object-fit: cover;   
}

.topbar-left h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

/*beech ko text */
.headline-container {
    max-width: 1000px; 
    width: 90vw;      
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 20px;
    z-index: 2; 
    color: white;
}

.headline-container h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem; 
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.1;
}

.headline-container h2 {
   font-family: 'Quicksand', sans-serif;
    font-size: 1rem;  
    font-weight: 200;
    line-height: 1.4;
    max-width: 600px;
    margin: 0 auto;
}
